<div th:fragment="navbar(categories)">
  <input id="hamburger" class="hamburger" type="checkbox" />
  <label for="hamburger" class="hamburger">
    <i></i>
    <text>
      <close>cerrar</close>
      <open>menu</open>
    </text>
  </label>
  <nav class="leftnav">
    <ul>
      <li>
        <a href="">
          <img class="icon" th:src="@{/images/noctimago_wh.png}" src="../static/images/noctimago_wh.png" />
          Home
        </a>
      </li>
      <li>
        <a th:href="@{/products/all}">
          <img class="icon" th:src="@{/images/products_icon.png}" src="../static/images/products_icon.png" />
          Products
          <ul class="secnav">
            <li th:each="category : ${categories}">
              <a th:href="@{'/products/' + ${category.name}}">[[${category.name}]]</a>
            </li>
          </ul>
      </li>
      <li>
        <a th:href="@{/cart}">
          <img class="icon" th:src="@{/images/cart_icon.png}" src="../static/images/cart_icon.png" />
          Cart&nbsp;&nbsp;&nbsp;&nbsp;
          <div th:if="${order != null}"><div class="tag" th:text="${order.cartSize()}"></div></div>
          <div th:unless="${order != null}"><div class="tag">0</div></div>
        </a>
      </li>
      <li>
        <a th:href="@{/}">
          <img class="icon" th:src="@{/images/logout_icon.png}" src="../static/images/logout_icon.png" />
          Logout
        </a>
      </li>
    </ul>
  </nav>
</div>