<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link th:href="@{/styles/landpage.css}" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Nocturne Music</title>
  </head>
  <body>
    <!-- Sign-in form -->
    <div class="signin-form">
      <h1>Sign In</h1>
      <form th:action="@{/login}" method="POST">
        <div class="input-field">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="input-field">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div>
          <button class="signin-button" type="submit">Sign In</button>
        </div>
        <div th:if="${error}" style="color: #B03043;"><p th:text="${error}"></p></div>
      </form>
    </div>
  </body>
</html>