<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link th:href="@{/styles/main.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/styles/navbar.css}" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Your Cart | Nocturne Music</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <div th:insert="~{fragments/navbar.html :: navbar(${categories})}"></div>

    <div class="product-list">
      <h1>Your Purchase:</h1>
      <table>
        <thead>
          <tr>
            <th class="first-col-th">Item</th>
            <th>P&nbsp;Unit.</th>
            <th>Cant</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${cart}">
            <td class="first-col-td" th:text="${item.name}"></td>
            <td th:text="'$' + ${item.uprice}"></td>
            <td th:text="${item.amount}"></td>
            <td class="last-col-td" th:text="'$' + ${item.price}"></td>
            <td>
              <form th:action="@{/removeFromCart}" method="POST">
                <input type="hidden" name="id" th:value="${item.pid}" />
                <button class="rmv-btn" type="submit">-</button>
              </form>
            </td>
          </tr>
          <tr>
            <td class="first-col-td" style="font-weight:600;">Total:</td>
            <td></td>
            <td></td>
            <td class="last-col-td" style="font-weight:600;" th:text="'$' + ${grandTotal}"></td>
          </tr>
          <tr>
            <td>
              <a th:href="@{/thanks}"><button class="simple-button" type="submit">Complete Purchase</button></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>