@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
/* Color palette
   • FFFDFD (White)
   • 030B12 (Rich Black)
   • B09F5C (Ecru)
   • 2C6E49 (Dark Spring Green)
   • B03043 (Cardinal)
*/
body {
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    /* Scrollbar */
    scrollbar-base-color: #FFFDFD;
    scrollbar-3dlight-color: #FFF;
    scrollbar-highlight-color: #FFFDFD;
    scrollbar-track-color: #FFFDFD;
    scrollbar-arrow-color: #FFFDFD;
    scrollbar-shadow-color: #FFFDFD;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

a {
    text-decoration: none;
}

content {
    align-items: center;
    background-color: #FFFDFD;
    box-sizing: border-box;
    color: rgba(64, 64, 64, .9);
    display: flex;
    flex-direction: column;
    font-size: 8vw;
    justify-content: center;
    height: 100%;
    padding-top: 58px;
    position: relative;
}

@media (min-width: 650px) {
    content {
        padding-left: 58px;
        padding-top: 0;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.leftnav {
    background-color: #030B12;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Amiko', sans-serif;
    font-size: 0.9em;
    height: 58px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 58px;
    position: fixed;
    text-transform: uppercase;
    transition: height 246ms 0.5s ease;
    width: 100vw;
    z-index: 1;
}

    .leftnav li:hover, .leftnav expand:hover {
        background-color: #B09F5C;
        background-color: rgba(176, 159, 92, .6);
    }

@media (min-width: 650px) {
    .leftnav {
        height: 100vh;
        width: 58px;
        transition: width 246ms 0.5s ease;
    }
}

.leftnav > ul {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.leftnav li {
    font-weight: 400;
    position: relative;
}

    .leftnav li .tag {
        background-color: #B09F5C;
        background-color: rgba(176, 159, 92, .8);
        border-radius: 2em;
        color: rgba(255, 255, 255, .8);
        color: #FFFDFD;
        color: rgba(255, 255, 255, .9);
        font-size: 0.8em;
        margin-left: auto;
        margin-right: 0.75em;
        padding: 0.5em 0.8em;
    }

    .leftnav li a {
        align-items: center;
        color: #FFFDFD;
        color: rgba(255, 255, 255, .8);
        display: flex;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
    }

.leftnav .icon {
    flex-shrink: 0;
    height: 20px;
    margin-right: 5px;
    padding: 19px;
    padding-bottom: 15px;
    width: 20px;
}

.secnav {
    border-left: 1px solid black;
    border-left-color: #FFFDFD;
    border-left-color: rgba(176, 159, 92, .9);
    margin-left: 63px;
    overflow: hidden;
}

    .secnav li {
        color: #FFFDFD;
        color: rgba(255, 255, 255, .9);
        max-height: 100px;
        transition: max-height 0.1s;
    }

@media (min-width: 650px) {
    .secnav li {
        max-height: 0px;
        transition: max-height 0.5s 0.5s;
    }
}

.secnav li a {
    color: inherit;
    display: block;
    padding: 0.75em 10px;
    text-transform: initial;
}

/* Hamburger */
input.hamburger {
    display: none;
}

    input.hamburger:checked ~ nav.primnav {
        height: 100vh;
    }

@media (min-width: 650px) {
    input.hamburger:checked ~ nav.leftnav {
        width: 275px;
    }
}

@media (min-width: 650px) {
    input.hamburger:checked ~ nav.leftnav .secnav > li {
        max-height: 100px;
    }

        input.hamburger:checked ~ nav.leftnav .secnav > li:nth-child(1) {
            transition: max-height 0.5s 0.67s ease-in;
        }

        input.hamburger:checked ~ nav.leftnav .secnav > li:nth-child(2) {
            transition: max-height 0.5s 0.69s ease-in;
        }

        input.hamburger:checked ~ nav.leftnav .secnav > li:nth-child(3) {
            transition: max-height 0.5s 0.71s ease-in;
        }

        input.hamburger:checked ~ nav.leftnav .secnav > li:nth-child(4) {
            transition: max-height 0.5s 0.73s ease-in;
        }

        input.hamburger:checked ~ nav.leftnav .secnav > li:nth-child(5) {
            transition: max-height 0.5s 0.75s ease-in;
        }

        input.hamburger:checked ~ nav.leftnav .secnav > li:nth-child(6) {
            transition: max-height 0.5s 0.77s ease-in;
        }

        input.hamburger:checked ~ nav.leftnav .secnav > li:nth-child(7) {
            transition: max-height 0.5s 0.79s ease-in;
        }

        input.hamburger:checked ~ nav.leftnav .secnav > li:nth-child(8) {
            transition: max-height 0.5s 0.81s ease-in;
        }

        input.hamburger:checked ~ nav.leftnav .secnav > li:nth-child(9) {
            transition: max-height 0.5s 0.83s ease-in;
        }

        input.hamburger:checked ~ nav.leftnav .secnav > li:nth-child(10) {
            transition: max-height 0.5s 0.85s ease-in;
        }
}

input.hamburger:checked ~ label > i {
    background-color: transparent;
    transform: rotate(90deg);
}

    input.hamburger:checked ~ label > i:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    input.hamburger:checked ~ label > i:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

input.hamburger:checked ~ label close {
    color: rgba(255, 255, 255, .8);
    width: 100%;
}

input.hamburger:checked ~ label open {
    color: rgba(0, 0, 0, 0);
    width: 0;
}

label.hamburger {
    display: block;
    height: 24px;
    position: relative;
    width: 24px;
    z-index: 9999;
}

    label.hamburger:hover {
        cursor: pointer;
    }

    label.hamburger text close, label.hamburger text open {
        font-family: 'Amiko', sans-serif;
        font-size: 6px;
        overflow: hidden;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        transform: translateY(24px);
        transition: width 0.25s 0.35s, color 0.45s 0.35s;
    }

    label.hamburger text close {
        color: rgba(255, 255, 255, .8);
        right: 0;
        width: 0;
    }

    label.hamburger text open {
        color: rgba(255, 255, 255, .8);
        width: 100%;
    }

    label.hamburger > i {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        background-color: rgba(255, 255, 255, .8);
        pointer-events: auto;
        transition-duration: 0.35s;
        transition-delay: 0.35s;
    }

        label.hamburger > i:before, label.hamburger > i:after {
            position: absolute;
            display: block;
            width: 100%;
            background-color: rgba(255, 255, 255, .8);
            content: "";
            height: 2px;
            left: 50%;
            transition: transform 0.35s;
            transform-origin: 50% 50%;
        }

        label.hamburger > i:before {
            transform: translate(-50%, -7px);
        }

        label.hamburger > i:after {
            transform: translate(-50%, 7px);
        }

label.hamburger {
    position: fixed;
    top: 14px;
    left: 17px;
}